@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    background: whitesmoke;
}

.navigation *{
    color: white !important;
}

.navigation{
    position: fixed !important;
    line-height: 40px;
    width: 100%;
    z-index: 1;
}

.nav-link:hover{
    background: #0091ff;
    transition: .5s;
}

.body{
    width: 100%;
    height: 100vh;
    position: relative;
    top: 65px;
}

.body-img{
    height: 80vh;
}

@media only screen and (max-width: 600px){
    .body-img{
        height: 60vh;
    }
}

.body-txt{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.body-btn{
    font-size: 1.5em;
    padding: 15px 30px;
    margin: 10px;
}

.body-btn:hover{
    border: #0082e6;

}

.about{
    width: 100%;
    background-size: cover;
    height: auto;
    padding-top: 8%;
}

.h1{
    display: flex;
    justify-content: center;
}

.services{
    width: 100%;
    background-size: cover;
    height: auto;
    margin-top: 5%;
    padding-top: 12%;
}

.service-card{
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.service-card:hover{
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.service-card-body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.service-logo{
    opacity: 90%;
    color: #0082e6;
}

.portfolio{
    width: 100%;
    background-size: cover;
    height: auto;
    margin-top: 5%;
    padding-top: 13%;
}

.contact{
    width: 100%;
    background-size: cover;
    height: auto;
    margin-top: 10%;
}

.fa-check-circle{
    color: #0082e6;
}

.contact-form{
    display: inline-block;
}

.contact-details{
    float: right;
}

.contact-logo{
    cursor: pointer;
}

.contact-logo:hover{
    color: #0771c2 !important;
}

.copyright-box{
    display: block;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}